@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    overflow-y: scroll;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

input, textarea,{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style:none;
}

table{
    border-collapse: collapse; 
    border-spacing:0;
}

caption, th{
    text-align: left;
}

a:focus {
    outline:none;
}

.clearfix:after {
    content: "."; 
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}

.both{
    clear:both;
}

.inline_block {  
    display: inline-block;  
    *display: inline;  
    *zoom: 1;  
}

.header{
    position: fixed;
    display: -webkit-box;
    display : -webkit-flex;
    display : flex;
    flex-direction : row;
    height : 30px;
    width : 100%;
    background-color: rgb(91,229,171);
}

.header_title{
    -webkit-box-flex: 1;
    -webkit-flex : 1;
    color: rgb(255, 255, 255);
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    max-width: none;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.498039) 0px -1px 0px;
}

.header_configure{
    display : block;
}

.views{
    padding-top: 30px;
}

.item{
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(51, 51, 51);
    display: block;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
}

.tweet_body{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.icon_image{
    background-color: rgb(0,0,0);
    height: 48px;
    width: 48px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
}

.tweet_content{
    -webkit-box-flex: 1;
    display: block;
    -webkit-flex : 1;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: -4px;
    margin-left: 8px;
    margin-right: 0px;
    margin-top: -2px;
    min-height: 48px;
    text-align: left;
}

.tweet_row{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: 18px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
}

.user_name{
    -webkit-box-flex: 1;
    -webkit-flex : 1;
    color: rgb(153, 153, 153);
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full_name{
    display: inline-block;
    font-weight: bold;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.screen_name{
    color: rgb(153, 153, 153);
    direction: ltr;
    display: inline;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    list-style-type: none;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    unicode-bidi: embed;
    white-space: nowrap;
    width: auto;
}
.time_stamp{
    color: rgb(204, 204, 204);
    display: block;
    font-size: 12px;
    height: 16px;
    line-height: 14px;
    list-style-type: none;
    margin-top: 2px;
    text-align: left;
}

.map{
    position: fixed;
    bottom : 0;
    height : 25%;
    width : 100%;
    background-color: rgb(0,0,0);
}